@import './base/mixins';
@import './base/base';

$shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
$shadow-smooth: 0 2px 4px 0 rgba(0,0,0,.06);

body {
   background-color: #f4f5ff;
}

.container {
   width: 700px;
   margin: 0 auto;

   @include responsive(tab-portrait) {
      width: 100%;
      margin: 0;
      padding: 10px;
   }
}

.title-page {
   text-align: center;
   font-size: 3rem;
}

.btn-more {
   width: 100%;
   border: 1px solid #ccc;
   padding: 10px;
   cursor: pointer;
   background-color: #a8c2db;

   &:disabled {
      background-color: #f4f5ff;
      cursor: no-drop;
   }
}

.retrieve-data {
   padding-top: 20rem;
   font-size: 1.5em;
   text-transform: uppercase;
   text-align: center;
   font-weight: 600;
}

@import './components/grid';
@import './components/searchBar';
@import './components/pokeItem';
@import './components/pokeDetail';
@import './components/typePokemon';

